.App {
  text-align: center;
  background-repeat: no-repeat ;
  margin-right: 20px;
  margin-left: 20px;
  background-color: #e2eaec;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Sample{
  background-color: rgb(132, 119, 232);
  
  margin: 30px;
  width: 400px;
  height: 600px;
  color: aliceblue;
  justify-content: center;
  display: flex;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: row;
  text-align: center;
  box-shadow: 10px 5px 20px 10px rgb(127, 221, 142);

}
.Sample:hover{
  background-color: rgb(255, 0, 0);
  
  width: 410px;
  color: aliceblue;
  font-size: large;
}
.about_p{
  margin: 10px 100px 20px 100px;
  text-align: justify;
  
}
.About_List{
  padding: 20px 20px 20px 20px;
  margin: 10px 200px 10px 200px;
  background-color: #e2eaecbd;
}
.li_item:hover{
  font-weight: bold;
  color: deepskyblue;
  cursor: pointer;
  font-size: medium;
}
.grad{
  background-color: #e2eaecbd;
  background-image: linear-gradient(to bottom right, #e2eaecbd, #5dc6e1bd);
}
.span-feature{
  height: 200px;
  width: 300px;
  text-align: center;
  justify-items: flex-end;
  border: 2px solid red;
  border-radius: 10px;
  padding: 20px;
  display: inline-flex;
  margin: 25px 10px 15px 100px;
  flex-direction: row;

}
.span-feature:hover{
  box-shadow: 10px 5px 5px 5px lightsalmon;
}
.card-wrap{
  padding: 100px;

}
.MsgBox{
  padding: 10px;
  font-size: large;
  width: 75% ;
  margin: 20px;
  text-align: center;
  border: none;
  border-radius: 20px;
  box-shadow: #c1ebf7 2px 10px 5px 10px;
}
.Contact{
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  background-color: rgba(211, 211, 211, 0.38);
  border-radius: 30px;
  padding: 30px;
}
.contact_btn{
  border-radius: 10px;
  text-align: center;
  border: none;
  font-size: 25px;
  margin-top: 20px;
  background-color: lightgreen;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
}
.contact_btn:hover{
  background-color: green;
}